Week3/Workflows/Sales_data_engine/Sales Data Engine – CSV to Supabase.json
{
  "name": "Sales Data Engine – CSV to Supabase",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        128
      ],
      "id": "07d1d2b5-a9b3-428b-9fae-8af5e686b11b",
      "name": "Daily Schedule (7 AM)"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "sales_data.csv",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        144
      ],
      "id": "10022d65-c5c6-4630-8565-908a0fc8ea0a",
      "name": "Find Sales CSV in Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "r0MBK33AyVygyMTU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        144
      ],
      "id": "986fac73-21dc-4825-b887-7866e2d8c608",
      "name": "Download Sales CSV",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "r0MBK33AyVygyMTU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        544,
        144
      ],
      "id": "6c20e97b-2eac-4e6b-acb1-962d8cbc7b4f",
      "name": "Parse Sales Data"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const amount = parseFloat(item.json.Amount);\n\n  const vat = amount * 0.14;\n\n \n  const total = amount + vat;\n\n\n  item.json.VAT = vat;\n  item.json.Total = total;\n\n \n  item.json.Date = new Date(item.json.Date).toISOString().split(\"T\")[0];\n\n  return item;\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        144
      ],
      "id": "7948543d-bdb6-4856-8eca-20cf00729554",
      "name": "Calculate VAT & Total"
    },
    {
      "parameters": {
        "tableId": "sales_data",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "invoice_id",
              "fieldValue": "={{ $json.InvoiceID }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $json.Date }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $json.Amount }}"
            },
            {
              "fieldId": "vat",
              "fieldValue": "={{ $json.VAT }}"
            },
            {
              "fieldId": "total",
              "fieldValue": "={{ $json.Total }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        976,
        144
      ],
      "id": "d88283c5-8e96-4f35-ade4-a2cff1fb7307",
      "name": "Insert Invoice into Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "UWZEASCUV238MRH2",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule (7 AM)": {
      "main": [
        [
          {
            "node": "Find Sales CSV in Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Sales CSV in Drive": {
      "main": [
        [
          {
            "node": "Download Sales CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Sales CSV": {
      "main": [
        [
          {
            "node": "Parse Sales Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sales Data": {
      "main": [
        [
          {
            "node": "Calculate VAT & Total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate VAT & Total": {
      "main": [
        [
          {
            "node": "Insert Invoice into Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "51d4c3bb-b4bf-46c4-a893-940c6dfeb370",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b1196f62f094345768fc36ff00c630e2ce0f246e0aa83459bc00f26cab9b17c"
  },
  "id": "Om50z29Adgw3SNaH",
  "tags": []
}