Week5/Workflows/Social Media Lead Capture – Scoring & Auto-Tag.json
{
  "name": "Social Media Lead Capture – Scoring & Auto-Tag",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "531bf9e4-0e21-460c-a2be-c398dd671d1c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -32
      ],
      "id": "35ffeaa8-23ef-4bd9-91d3-ef2541186576",
      "name": "Social Lead Form",
      "webhookId": "531bf9e4-0e21-460c-a2be-c398dd671d1c"
    },
    {
      "parameters": {
        "jsCode": "let data = $json[\"body\"]; // <-- take only form data\nlet tags = [];\n\n// Auto-tag by source\nif(data.source === \"Instagram\") tags.push(\"Social\");\nif(data.source === \"Facebook\") tags.push(\"Social\");\n\n// Auto-tag by service interest\nif(data.service_interest) tags.push(data.service_interest + \" Lead\");\n\n// Auto-tag by keywords in message\nif(data.message && data.message.toLowerCase().includes(\"urgent\")) {\n  tags.push(\"High Priority\");\n}\n\nreturn [{ ...data, tags: tags.join(\",\") }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -32
      ],
      "id": "284b4cc9-bb13-4227-b6cf-3807dc8065dc",
      "name": "Auto-Tag Lead"
    },
    {
      "parameters": {
        "tableId": "leads_capture",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.phone }}"
            },
            {
              "fieldId": "service_interest",
              "fieldValue": "={{ $json.service_interest }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.message }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.source }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "score",
              "fieldValue": "={{ $json.score }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        -32
      ],
      "id": "36deda11-d54e-4ec6-a73d-c7205045f562",
      "name": "Insert Lead",
      "credentials": {
        "supabaseApi": {
          "id": "A8OZ6U1k9IdDGv9G",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let data = $json; // use root level instead of $json[\"body\"]\nlet score = 0;\n\n// Phone\nif(data.phone) score += 1;\n\n// Email\nif(data.email) score += 1;\n\n// Budget mentioned\nif(data.message && data.message.toLowerCase().includes(\"budget\")) score += 2;\n\n// Service interest\nif(data.service_interest === \"Design\") score += 1;\nif(data.service_interest === \"Development\") score += 1;\n\n// Keywords in message\nif(data.message && data.message.toLowerCase().includes(\"urgent\")) score += 2;\nif(data.message && data.message.toLowerCase().includes(\"meeting\")) score += 1;\n\n// Return the lead data with score\nreturn [{ ...data, score }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -32
      ],
      "id": "948af1c4-96d3-4bd0-847f-a47985e576af",
      "name": "Lead Scoring Node"
    }
  ],
  "pinData": {},
  "connections": {
    "Social Lead Form": {
      "main": [
        [
          {
            "node": "Auto-Tag Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Tag Lead": {
      "main": [
        [
          {
            "node": "Lead Scoring Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Scoring Node": {
      "main": [
        [
          {
            "node": "Insert Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "99248bac-0218-4739-be36-5fa32d9da18e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2988c879c91b7110549ac1fd40f0dcca4be668b02df3f69397c94714c2b91028"
  },
  "id": "ZgVlplKczK00tyBt",
  "tags": []
}