Week5/Workflows/WhatsApp Lead Capture & AI Response Flow (1).json
{
  "name": "WhatsApp Lead Capture & AI Response Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c3ce69ba-37e1-4563-9af3-f399fb96e1db",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -976,
        -96
      ],
      "id": "f0f066e2-4cbf-4e65-acd5-ba75f16f26e3",
      "name": "Receive WhatsApp Message",
      "webhookId": "c3ce69ba-37e1-4563-9af3-f399fb96e1db"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      name: $json.body.body.body.parsed.name || null,\n      phone: $json.body.body.body.parsed.phone || null,\n      service_interest: $json.body.body.body.parsed.service_interest || null,\n      raw_message: $json.body.body.body.message || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -96
      ],
      "id": "e1aa5968-358f-4cac-8dbe-6f0b66697152",
      "name": "Map Lead Data"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        -368
      ],
      "id": "f50f7601-f940-4d74-815f-c75a961cc285",
      "name": "Acknowledge User"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a classifier for customer service messages.\nMessage: \"{{ $json.raw_message }}\"\n\nClassify this message into one of the following:\n- FAQ\n- Support\nReturn only the label.\n",
              "role": "model"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -592,
        -96
      ],
      "id": "de915998-cbb3-4502-ba1c-b3f53d0ba69d",
      "name": "Classify_Message",
      "credentials": {
        "googlePalmApi": {
          "id": "dCHnWERRARpClyR5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "FAQ",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "77b0c59e-0696-451a-981c-81b1544a6169"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAQ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c919297-34e6-42a1-ae25-191453ba3c29",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "Support",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Support"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -240,
        -96
      ],
      "id": "ef93a95b-dad6-4a6c-b3f0-0e8b8f3e3ecd",
      "name": "Branch_FAQ_or_Support"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "FAQ",
        "key": "=faq:{{ $('Receive WhatsApp Message').item.json.body.body.body.message.toLowerCase().trim() }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        176,
        -192
      ],
      "id": "56bc5d59-d1b2-4f21-b2ae-647da9210a50",
      "name": "Lookup_FAQ_Answer",
      "credentials": {
        "redis": {
          "id": "UvY5sEDuCKe4QtWX",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.FAQ }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "d23d5a30-7b80-4b24-9103-e43a564ddd8b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "exist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3bb1ca91-97eb-453e-9ae2-95f4db2f8b81",
                    "leftValue": "={{ $json.FAQ }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not exist"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        384,
        -192
      ],
      "id": "1f854877-291c-4830-9365-92a7c41109a2",
      "name": "Check_FAQ_Exists"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=faq:{{ $('Receive WhatsApp Message').item.json.body.body.body.message.toLowerCase().trim() }}\n",
        "value": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1152,
        -96
      ],
      "id": "028c84a2-cbf6-4fb0-a971-999a05dace0a",
      "name": "Store_AI_Answer",
      "credentials": {
        "redis": {
          "id": "UvY5sEDuCKe4QtWX",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Map Lead Data').item.json.raw_message }}",
        "options": {
          "systemMessage": "=You are a customer service assistant. Answer user questions clearly and concisely.\n\nInstructions:\n- Only provide the answer text.\n- Do not add greetings, extra commentary, or explanations.\n- Output as JSON with these fields:\n{\n  \"question\": \"<user question>\",\n  \"answer\": \"<answer text>\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        -96
      ],
      "id": "42398fa1-ac11-4a79-81b3-a03eb88fa001",
      "name": "Generate_FAQ_Response"
    },
    {
      "parameters": {
        "model": "x-ai/grok-4-fast:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        464,
        112
      ],
      "id": "5c9a17b6-bf78-4940-b355-6a7ca3c04998",
      "name": "Ai model",
      "credentials": {
        "openRouterApi": {
          "id": "9zhiveWjpzvqg6ej",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        736,
        160
      ],
      "id": "bfacf388-3ff7-4d8a-80e4-99a18f080e3b",
      "name": "AI_Tool_Redis",
      "credentials": {
        "redis": {
          "id": "UvY5sEDuCKe4QtWX",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "support_tickets",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Receive WhatsApp Message').item.json.body.body.body.parsed.name }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Receive WhatsApp Message').item.json.body.body.body.parsed.phone }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Receive WhatsApp Message').item.json.body.body.body.message }}"
            },
            {
              "fieldId": "intent",
              "fieldValue": "={{ $('Receive WhatsApp Message').item.json.body.body.body.parsed.service_interest }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        0
      ],
      "id": "9d2b0da9-c314-479a-9add-4d037e61b82f",
      "name": "Insert_SupportTicket",
      "credentials": {
        "supabaseApi": {
          "id": "A8OZ6U1k9IdDGv9G",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receive WhatsApp Message": {
      "main": [
        [
          {
            "node": "Map Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Lead Data": {
      "main": [
        [
          {
            "node": "Classify_Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify_Message": {
      "main": [
        [
          {
            "node": "Branch_FAQ_or_Support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch_FAQ_or_Support": {
      "main": [
        [
          {
            "node": "Lookup_FAQ_Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert_SupportTicket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup_FAQ_Answer": {
      "main": [
        [
          {
            "node": "Check_FAQ_Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_FAQ_Exists": {
      "main": [
        [
          {
            "node": "Acknowledge User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate_FAQ_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate_FAQ_Response": {
      "main": [
        [
          {
            "node": "Store_AI_Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ai model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate_FAQ_Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI_Tool_Redis": {
      "ai_tool": [
        [
          {
            "node": "Generate_FAQ_Response",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "764512eb-d2ca-49e8-ba45-b101d57d639b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2988c879c91b7110549ac1fd40f0dcca4be668b02df3f69397c94714c2b91028"
  },
  "id": "Re6Rl6RRtvsHSTkB",
  "tags": []
}